
/* Your CSS Code here. */
.container {
            border: 5px solid rgb(4, 255, 4);
            background-color: rgb(41, 0, 0);
            max-width: 600px;
            padding: 15px;
        }

        .row {
            border: 5px solid rgb(255, 188, 188);
            height: 200px;
        }

        .col {
            border: 2px dotted rgb(38, 38, 43);
        }

        .col:nth-child(1) {
            background-color: teal;
        }

        .col:nth-child(2) {
            background-color: thistle;
        }

        .offset-md-2 {
            margin-left: 25%;
        }

        .col-md-3 {
            background-color: tomato;
        }

        .col-md-3:nth-child(2) {
            background-color: turquoise;
        }

        .col-md-3:last-child {
            margin-left: 0;
        }

        .col-md-6 {
            background-color: violet;
        }

        .col-md-6:nth-child(2) {
            background-color: yellowgreen;
        }

        .align-items-center {
            display: flex;
            align-items: center;
        }